<h1>Notre séléction de restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>

<li> <%= link_to restaurant.name, restaurant_path(restaurant)%> </li>
<p><%= restaurant.address %>. tél: <%= restaurant.phone_number %></p>
<p>Type de cuisine: <%= restaurant.category %></p>
<% end %>
</ul>

<%= Restaurant.categories.each do |category| %>
<%= link_to category, restaurants_path(category: category) %>
<% end  %>
